body {
    line-height: 0.5em;
    font-family: 'Open Sans', sans-serif;
}

/* HELPER CLASSES */
.center {
    text-align: center;
}

.uppercase {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.bold {
    font-weight: bold;
}